*.exe
*.idb
*.ilk
*.opendb
*.pdb
*.sdf
*.suo
*.tlog
*.exe
*.ilk
*.pdb
*.log
*.log
*.log
MAC_Prototype/Debug/MAC_Prototype.exe
MAC_Prototype/Debug/MAC_Prototype.ilk
MAC_Prototype/Debug/MAC_Prototype.pdb
MAC_Prototype/MAC_Prototype.sdf
MAC_Prototype/MAC_Prototype/Debug/MAC_Prototype.log
MAC_Prototype/MAC_Prototype/Debug/MAC_Prototype.tlog/link.read.1.tlog
MAC_Prototype/MAC_Prototype/Debug/Source.obj
MAC_Prototype/MAC_Prototype/Debug/vc140.idb
MAC_Prototype/MAC_Prototype/Debug/vc140.pdb